.processing {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__subList {
        display: none;
    }
    &__btn {
        @include btn();
        background-color: blueviolet;
        color: #cccccc;
    }
}