@import "service";
@import "mixins";
@import "components";
@import "layout";

.warning {
    color: red;
}

.show {
    display: block !important;
}

.hidden {
    display: none !important;
}

.processing-mt {
    min-height: 43.5rem;
    padding-bottom: 5rem;
}

.fa-chart-line {
    font-size: 24px;
}